@import 'style/palette';

.swiper-container {
    .swiper-slide {
        opacity: 0.5;
        background-position: center;
        background-size: cover;
    }

    .swiper-slide-active {
        opacity: 1;
    }

    .swiper-pagination {
        .swiper-pagination-bullet {
            background: $white;
        }

        .swiper-pagination-bullet-active {
            background: $green;
        }
    }
}
